@use "sass:math";

.gallery-grid {
    --gap: min(#{vw(30, 1191)}, #{rem(30)});
    --grid-height: min(#{vw(308, 1191)}, #{rem(308)});
    --grid-height-tall: min(#{vw(640, 1191)}, #{rem(640)});

    position: relative;

    @media (max-width: 991px) {
        --gap: #{rem(24)};
        --grid-height: #{rem(200)};
        --grid-height-tall: var(--grid-height);
    }

    @media (max-width: 640px) {
        --grid-height: #{rem(250)};
    }


    &--two-col {
        .gallery-grid__inner {
            height: fit-content;
        }
    }

    &__inner {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        gap: var(--gap);

        height: var(--grid-height-tall);

        @media (max-width: 991px) {
            flex-direction: column;
            height: auto;
        }
    }

    &__left {
        flex: 0 0 percentage(math.div(541, 1111));
    }

    &__right {
        flex: 0 0 percentage(math.div(541, 1111));

        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        gap: var(--gap);
    }
}

.gallery-grid-item {
    --radius: #{rem(15)};

    position: relative;

    display: block;
    width: 100%;
    height: var(--grid-height);

    &:hover, &:focus {
        .gallery-grid-item__pic-layer::before {
            background-color: $color-peach;
            opacity: .7;
        }
    }

    &--tall {
        height: var(--grid-height-tall);
    }

    &__pic-layer {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;

        &::before {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: #000;
            opacity: 0.5;
            border-radius: var(--radius);
            z-index: 1;
            transition: all .4s $transition;
        }
    }

    &__text-layer {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 2;
    }

    &__pic {
        object-fit: cover;
        border-radius: var(--radius);
    }

    &__text-wrapper {
        height: 100%;
        margin-block: auto;

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: rem(28);

        @media (max-width: 640px) {
            gap: rem(12);
        }
    }

    &__title {
        font-size: min(#{vw(40, 1191)}, #{rem(40)});
        font-weight: 500;
        letter-spacing: rem(2);
        text-transform: uppercase;
        line-height: 1;
        color: $color-white;

        @media (max-width: 991px) {
            font-size: clamp(#{rem(28)}, #{vw(40, 768)}, #{rem(40)});
        }
    }

    &__desc {
        font-size: min(#{vw(15, 1191)}, #{rem(15)});
        letter-spacing: rem(5);
        font-weight: 500;
        text-transform: uppercase;
        color: $color-white;

        @media (max-width: 991px) {
            font-size: rem(15);
        }
    }

    &__desc-arrow {
        display: inline-block;
        width: em(10, 15);
        height: em(10, 15);
        margin-left: em(16, 15);
        background-image: url("/assets/shared/desktop/icon-right-arrow.svg");
        background-size: contain;
        background-repeat: no-repeat;
    }

}
