@use 'sass:math';

body[data-scroll-locked][data-scroll-locked] {
    margin-right: 0 !important;
}

.navbar {
    position: relative;
    margin-block: rem(64);

    @media (max-width: 640px) {
        margin-block: rem(35);
    }

    &__inner {
        width: 100%;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: space-between;
    }

    &__left {
        flex: 0 0 rem(202);
    }

    &__pic {
        aspect-ratio: math.div(202, 27);
    }

    &__img {}

    &__right {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        column-gap: rem(42);

        @media (max-width: 767px) {
            column-gap: rem(30);
        }
    }

    &__link {
        text-transform: uppercase;
        font-size: rem(14);
        font-weight: 400;
        letter-spacing: rem(2);
        display: block;

        &--icon {
            flex: 0 0 rem(24);
            display: flex;
            justify-content: center;
            align-items: center;
            padding-bottom: em(8);
            
            @media (max-width: 640px) {
                padding-bottom: 0;
            }

            & span {
                font-size: inherit;
            }

            & span::before {
                font-size: inherit;

                @media (max-width: 640px) {
                    font-size: rem(20);
                }
            }
        }

        &--desktop {
            @media (max-width: 640px) {
                display: none;
            }
        }

        &--mobile {
            @media (min-width: 641px) {
                display: none;
            }

            &[data-state="open"] {
                & span:before {
                    content: $icon-icon-close;
                }
            }
        }

    }

    &__dropdown {
        width: 100vw;
        padding-block: rem(48);
        padding-inline: rem(24);

        background-color: $color-black;
        color: $color-white;
        border-color: $color-black;
        border-radius: 0;
        margin-top: rem(30);

        display: flex;
        flex-direction: column;
    }

    &__dropdown-item {
        text-transform: uppercase;
        font-size: rem(24);
        font-weight: 300;
        letter-spacing: rem(2);
        padding: 0;

        &>a {
            width: 100%;
            padding-block: rem(16);

            &>span {
                position: relative;

                &::before {
                    content: "";
                    position: absolute;
                    bottom: 0;
                    left: 0;
                    width: 0%;
                    height: rem(1);
                    background-color: $color-white;

                    transition: width .4s $transition;
                }

                // &:hover,
                // &:focus {
                //     &::before {
                //         width: 100%;
                //     }
                // }
            }


            // &:hover,
            // &:focus {
            //     &>span::before {
            //         width: 100%;
            //     }
            // }
        }



        &:hover,
        &:focus {
            background-color: inherit !important;
            color: inherit !important;

            & span::before {
                width: 100%;
            }
        }
    }
}