@use 'sass:math';

.section-header {

    position: relative;

    &:before {
        content: "";
        position: absolute;
        top: rem(126);
        left: 0;
        background: $color-light-grey;
        width: vw(1006, 1440);
        height: min(#{rem(594)}, #{vw(594, 1440)});
        z-index: -1;
        border-radius: rem(297) rem(297) rem(297) 0;
        opacity: .5;

        @media (max-width: 991px) {
            content: none;
        }
    }


    @media (max-width: 767px) {
        background-color: $color-peach;
        background-image: url("/assets/web-design/desktop/bg-pattern-intro-web.svg");
        background-position: 100% 111%;
        background-repeat: no-repeat;
    }

    &__inner {

        border-radius: rem(15);
        height: rem(252);

        padding-inline: percentage(math.div(191, 1111));

        color: $color-white;

        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: rem(24);

        background-color: $color-peach;
        background-image: url("/assets/web-design/desktop/bg-pattern-intro-web.svg");
        background-position: center right;
        background-repeat: no-repeat;

        @media (max-width: 991px) {
            background-position: 12% 50%;
        }

        @media (max-width: 767px) {
            background: unset;
            height: rem(320);
            padding-inline: unset;
            gap: rem(28);
        }

    }

    &__title {
        text-align: center;
        font-size: rem(48);
        line-height: 1;
        font-weight: 500;

        @media (max-width: 767px) {
            font-size: clamp(#{rem(32)}, #{vw(48, 767)}, #{rem(48)})
        }

    }

    &__desc {
        text-align: center;
        font-size: rem(16);
        line-height: math.div(26, 16);
        max-width: rem(400);

        @media (max-width: 767px) {
            font-size: rem(15);
            line-height: math.div(25, 15);
        }
    }

}