@use 'sass:math';

.terms-grid {

    position: relative;

    &:before {
        content: "";
        position: absolute;
        top: min(#{vw(124, 1440)}, #{rem(124)});
        right: 0;
        width: min(#{vw(1006, 1440)}, #{rem(1006)});
        height: rem(594);
        background-color: #F1F3F5;
        z-index: -10;
        border-radius: rem(297) 0 rem(297) rem(297);
        opacity: .5;
        
        @media (max-width: 991px) {
            content: unset;
        }
    }

    &__inner {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;

        gap: percentage(math.div(30, 1111));

        @media (max-width: 768px) {
            flex-direction: column;
            gap: rem(24);
        }

        @media (max-width: 640px) {
            gap: rem(80);
        }
    }
}


.terms-grid-item {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;

    flex: 0 0 percentage(math.div(350, 1111));

    @media (max-width: 768px) {
        flex-direction: row;
        gap: percentage(math.div(48, 690));
    }

    @media (max-width: 640px) {
        flex-direction: column;
        gap: rem(48);
    }

    &:nth-child(3n+1) .terms-grid-item__img-wrapper:before {
        rotate: -90deg;
    }

    &:nth-child(3n+2) .terms-grid-item__img-wrapper:before {
        rotate: 180deg;
    }

    &__img-wrapper {
        width: fit-content;
        height: fit-content;
        margin-inline: auto;

        position: relative;

        @media (max-width: 768px) {
            flex: 0 0 percentage(math.div(202, 690));
        }

        &:before {
            content: "";
            position: absolute;
            inset: 0;
            background: url("/assets/home/desktop/bg-pattern-hero-home.svg") no-repeat center center;
            background-size: contain;
            opacity: .5;
        }
    }

    &__img {
        // width: min(#{percentage(math.div(202, 350))}, #{rem(202)});
        width: 100%;
        aspect-ratio: 1;
    }

    &__text {
        @media (max-width: 768px) {
            display: flex;
            flex-direction: column;
            flex-wrap: nowrap;
            justify-content: center;
        }
    }

    &__heading {
        font-weight: 500;
        font-size: rem(20);
        text-transform: uppercase;
        letter-spacing: rem(5);
        line-height: math.div(26, 20);
        text-align: center;

        margin-top: rem(48);

        @media (max-width: 768px) {
            margin-top: 0;
            text-align: left;
        }


        @media (max-width: 640px) {
            text-align: center;
        }
    }

    &__desc {
        font-weight: 400;
        font-size: rem(16);
        line-height: math.div(26, 16);
        text-align: center;

        margin-top: rem(32);
        color: $color-dark-black;

        @media (max-width: 768px) {
            margin-top: rem(16);
            text-align: left;
        }

        @media (max-width: 640px) {
            text-align: center;
            margin-top: rem(32);
        }
    }
}
