$icomoon-font-family: "icomoon" !default;
$icomoon-font-path: "fonts" !default;

$icon-icon-facebook: unquote('"\\e902"');
$icon-icon-instagram: unquote('"\\e903"');
$icon-icon-pinterest: unquote('"\\e904"');
$icon-icon-right-arrow: unquote('"\\e905"');
$icon-icon-twitter: unquote('"\\e906"');
$icon-icon-youtube: unquote('"\\e907"');
$icon-icon-close: unquote('"\\e900"');
$icon-icon-hamburger: unquote('"\\e901"');

